<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirect all requests to the public/ directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]

    php_value upload_max_filesize 50M
    php_value post_max_size 55M
    php_value memory_limit 256M
    php_value max_execution_time 600
    php_value max_input_time 600
</IfModule>
